h1
{
color:black;
text-align:left;
font-size:24pt;
}

.center
{
margin:auto;
width:70%;

}
.center2
{
margin:auto;
width:50%;

}
.content {
  width: 800px ;
  margin-left: auto ;
  margin-right: auto ;
  background-color: #ADDEFF;
}


ul#menu, ul#menu, ul.sub-menu{
	padding:0;
	margin:0;
	width: 800px ;
  margin-left: auto ;
  margin-right: auto ;
	
}
ul#menu li {
	background: #000;
}
ul#menu li,ul#menu ul.sub-menu li{
	list-style-type:none;
	display: inline-block;
	
	
}
ul#menu li a{
	color: #fff;
	padding: 5px;
	text-decoration: none;
	display:inline-block;
}
 ul.sub-menu li a {
    text-decoration: none;
    
   /* background: #1C3E8A;*/
  
    display:inline-block;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100px;
    
}
ul#menu li:hover ul.sub-menu {
    display:block;
    
}